<div class="container px-5 px-sm-0">

    <%= render 'books/errors',book: @book %>


  <div class="row">
    <%= render 'books/list',user: @user,book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>name</th>
            <th>followings</th>
            <th>followers</th>
            <th></th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(80,80) %>
            </td>
            <td><%= user.name %></td>
            <td class="followings-count_<%= user.id %>">
              <%= link_to "#{ user.followings.count}", user_followings_path(user.id) %>

            </td>
            <td class="followers-count_<%= user.id %>">
              <%= link_to "#{ user.followers.count}", user_followers_path(user.id) %>

            </td>
            <td class="follow-btn_<%= user.id %>">
              <%= render "relationships/followbtn", user: user %>
            </td>

            <td><%= link_to "Show",user_path(user.id) %></td>
          </tr>
        <% end %>
        <%= paginate @users %>
        </tbody>
      </table>
    </div>

  </div>
</div>

